* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background:
        url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
        center / cover no-repeat fixed;
}


.grid-container {
    max-height: 100px;
    display: grid;
    gap: 20px;
    padding: 30px;
    flex: 1; 
}
.card {
    font: 1em/1.618 Inter, sans-serif;;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02); 
}


.card-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
}

.card img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover; 
    object-position: center; 
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
}

.arrow img {
    margin-top: 10px;
    width: auto;
    height: 52px;
    transition: transform 0.3s ease;
}

a {
    text-decoration: none; 
    color: #224; 
}

a:hover {
    text-decoration: none; 
    color: #3366ff; 
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    height: 100vh;
    width: 160px;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidebar-title {
    color: #df811c;
    margin-right: 30px;
    text-align: center;
}


.sidebar hr {
    margin-bottom: 0;
}

.filter-category {
    color: white;
    margin: 20px;
    text-align: left;
}

.filter-category h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.filter-category label {
    display: block;
    margin-bottom: 5px;
}
.rating {
    direction: rtl;
    display: flex;
    justify-content: left;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 15px;
    color: #ddd;
    padding: 2px;
    cursor: pointer;
}

.rating label:before {
    content: "\2605"; /* Unicode character for a star */
}

.rating input:checked ~ label {
    color: orange;
}

#AllRating + label {
    display: inline;
    padding: 5px;
}
.filter-category-text{
    color: #c55959;
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.tag.language {
    background-color: #c55959;
    color: #fff;
}

.tag.progression {
    background-color: #3e874b;
    color: #fff;
}

.tag.difficulty {
    background-color: #5733FF;
    color: #fff;
}

.tag:hover {
    opacity: 0.8;
    cursor: pointer;
}


.tag.privacy {
    background-color: #000000;
    color: #333;
}